<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans.xsd">
   
   
	
	<bean id="customer" class="com.ibm.spring.core.autowire.Customer" autowire="byName">
	</bean>
	<bean id="person" class="com.ibm.spring.core.autowire.Person">
	<property name="name" value="shital"></property>
	<property name="age" value="23"></property>
	<property name="location" value="Pune"></property>
	</bean>
	
	
	

</beans>