<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- Bean instantiation with default constructor -->
	<bean id="greetings" class="com.ibm.spring.core.Greetings" >
		<property name="message" value="Hello World message from config file" />
	</bean>
	
	<bean id="greetings1" class="com.ibm.spring.core.Greetings" >
		<property name="message" value="Hello World message from config file -Greetings1" />
	</bean>

</beans>